* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* style for banner */

.banner img {
    max-width: 100%;
    border-radius: 37px 36px 0px 0px;
}


/* style for section-1 */

.section-1 h5 {
    line-height: inherit;
    font-weight: 550;
}


/* card-1 styles here */

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    padding: 10px 0px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #f1efef;
    background-color: #ffff;
}

.card-horizontal img {
    padding-right: 42px;
    padding-top: 8px;
    padding-left: 33px;
}

.card-horizontal p {
    font-size: 14px;
}

.card-horizontal span {
    font-weight: 600;
    font-size: 15px;
}

.cards-section {
    padding-top: 35px;
    background-color: #fcfbff;
    padding-bottom: 60px;
}


/* card-2 styles here */

.card-horizontal-1 {
    display: flex;
    flex: 1 1 auto;
    margin-top: 35px;
    padding: 10px 0px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #f1efef;
    background-color: #ffff;
}

.card-horizontal-1 img {
    padding-right: 36px;
    padding-top: 20px;
    padding-left: 33px;
}

.card-horizontal-1 p {
    font-size: 14px;
}

.card-horizontal-1 span {
    font-weight: 600;
    font-size: 15px;
}


/* card-3 styles here */

.card-horizontal-2 {
    display: flex;
    flex: 1 1 auto;
    margin-top: 35px;
    padding: 10px 0px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #f1efef;
    background-color: #ffff;
}

.card-horizontal-2 img {
    padding-right: 36px;
    padding-top: 8px;
    padding-left: 33px;
}

.card-horizontal-2 p {
    font-size: 14px;
}

.card-horizontal-2 span {
    font-weight: 600;
    font-size: 15px;
}


/* button styles starts here */

.button-section button {
    background-color: #5151ff;
    padding: 14px 96px;
    border-radius: 30px 30px 30px 30px;
}

.button-section {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}